@using Newtonsoft.Json

@{
    var List = JsonConvert.DeserializeObject<List<Student>>(TempData["List"].ToString());
    TempData.Keep();

    ViewData["Title"] = "Home Page";
}

<h3>Comments Content</h3>
<table class="table table-bordered" style="width:500px">
    <thead>
        <tr>
            <th>Id</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in List)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>
<form method="post" style="margin-bottom:500px">
    <div class="form-group">
        <label id="lblName" hidden name="Id" class="form-control">@TempData["CommentCount"]</label>
        <input type="hidden" id="hfName" name="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Comment</label>
        <textarea name="Name" class="form-control" rows="3" style="width:500px"></textarea>
    </div>
    

    <button type="submit" onclick="OnSubmit()" class="btn btn-primary" style="margin-top:10px">Post</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function OnSubmit() {
            document.getElementById("hfName").value = document.getElementById("lblName").innerHTML;
        }
    </script>
}